In [50]:
##connection 
import mysql.connector as conn 
username = 'root'
password = 'Newvision@143'
database = ''
try :
    connection = conn.connect(username =username,password=password,database =database)
    print("Successfully Connected")
except conn.Error as er :
    if er.errno == 1045:
        print(f'Access denied for user {username}')
    elif er.errno == 1049:
        print(f"Unknown database {database}")
    else :
        print(er)

Successfully Connected

In [51]:
cursor = connection.cursor()

In [18]:
##Creating Database
create_database = """Create database Ourstore"""
cursor.execute(create_database)

In [42]:
cursor.execute("show databases")
for datbase in cursor:
    print(datbase)

('employees',)
('information_schema',)
('jewelrystore_db',)
('little_lemon',)
('mysql',)
('Ourstore',)
('performance_schema',)
('sales',)
('Shop',)
('sys',)

In [52]:
##use database
use_database ='use Ourstore '
cursor.execute(use_database)

In [21]:
##Create Menu table
create_menu_table = """ Create Table Menuitems (
    ItemId INT AUTO_INCREMENT,
    Name Varchar(200),
    Type Varchar(100),
    Price INT,
    Primary Key (ItemId)
);"""
cursor.execute(create_menu_table)

In [22]:
##Show tables
cursor.execute("show tables")
for table in cursor:
    print(table)

('Menuitems',)

In [23]:
##Menu Table
create_menu_table = """ Create Table Menus(
    MenuId INT,
    ItemID INT,
    Cuisine Varchar(100),
    Primary Key(MenuId,ItemID)
);
"""
cursor.execute(create_menu_table)

In [24]:
## Booking Table
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
cursor.execute(create_booking_table)

In [25]:
#Orders Table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
cursor.execute(create_orders_table)

In [26]:
##Show All Tables

cursor.execute("Show tables")
for table in cursor:
    print(table)

('Bookings',)
('Menuitems',)
('Menus',)
('Orders',)

In [13]:
table_name = 'Bookings'
query = f"Show COLUMNS from {table_name}"
cursor.execute(query)
columns = cursor.fetchall()

for column in columns:
    print(column)

('BookingID', b'int', 'NO', 'PRI', None, 'auto_increment')
('TableNo', b'int', 'YES', '', None, '')
('GuestFirstName', b'varchar(100)', 'NO', '', None, '')
('GuestLastName', b'varchar(100)', 'NO', '', None, '')
('BookingSlot', b'time', 'NO', '', None, '')
('EmployeeID', b'int', 'YES', '', None, '')

In [27]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marco
s', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""
print("Inserting data in Booking table")
cursor.execute(insert_bookings)
print("Total inserted rows",cursor.rowcount)
connection.commit()

Inserting data in Booking table
Total inserted rows 6

In [28]:
##select data from inser_booking 

cursor.execute("Select * from Bookings")
result = cursor.fetchall()
for rows in result:
    print(rows)

(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marco\ns', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [29]:
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""
print("Insert data in MenuItems table")
cursor.execute(insert_menuitmes)
connection.commit()
print("Total inserted rows",cursor.rowcount)

Insert data in MenuItems table
Total inserted rows 17

In [30]:
cursor.execute("select * from MenuItems")
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(6, 'Hummus', 'Starters', 5)
(7, 'Greek salad', 'Main Courses', 15)
(8, 'Bean soup', 'Main Courses', 12)
(9, 'Pizza', 'Main Courses', 15)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(12, 'Cheesecake', 'Desserts', 4)
(13, 'Athens White wine', 'Drinks', 25)
(14, 'Corfu Red Wine', 'Drinks', 30)
(15, 'Turkish Coffee', 'Drinks', 10)
(16, 'Turkish Coffee', 'Drinks', 10)
(17, 'Kabasa', 'Main Courses', 17)

In [31]:
insert_menu="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""
print("Inserting data in Menus table")
cursor.execute(insert_menu)
print("Total row inserted",cursor.rowcount)
connection.commit()

Inserting data in Menus table
Total row inserted 12

In [32]:
##Orders Table
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""
print("Insert data in Orders Table")
cursor.execute(insert_orders)
print("Total rows inserted",cursor.rowcount)
connection.commit()

Insert data in Orders Table
Total rows inserted 5

In [45]:
##Task Two :In the first task, you created tables to hold the restaurant’s data. Now Little Lemon requires you to retrieve the following data for each guest:

##Guest first and last names.

##The table number assigned to each guest.

guests_data  ="""SELECT GuestFirstName, GuestLastName, TableNo FROM Bookings""" 
cursor.execute(guests_data)
results = cursor.fetchall()

##retrieving the columns
cols = cursor.column_names
print(cols)
for result in results:
    print(result)

('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marco\ns', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

In [46]:
# Task 3:

# Little Lemon’s queries are returning large volumes of data. They need to find a way to return the data in smaller, more manageable chunks. Let’s see if you can help them to return just the first three items from the menu. In other words, return the first three items from the cursor. Complete this task using the following steps:

little_data = """SELECT * FROM Menus;"""
cursor.execute(little_data)
results = cursor.fetchmany(size =3)
cols  =cursor.column_names
print(cols)
for result in results:
    print(result)

('MenuId', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

In [53]:
little_data = """SELECT * FROM Menus;"""
cursor.execute(little_data)
results = cursor.fetchmany(size=3)
cols  =cursor.column_names
print(cols)
for result in results:
    print(result)

('MenuId', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')