In [22]:
import mysql.connector as conn
user_name = 'root'
password = 'Newvision@143'
try:
    connection = conn.connect(username =user_name,password =password)
    print("Successfully Connected")
except conn.Error as e:
    print(e.errno)

Successfully Connected

In [23]:
cursor = connection.cursor()

In [3]:
##Creating Database
create_database = """Create database litte_lemon_store"""
cursor.execute(create_database)

In [24]:
##use database
use_database ='use litte_lemon_store '
cursor.execute(use_database)

In [5]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""
cursor.execute(create_menuitem_table)

In [6]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""
cursor.execute(create_menu_table)

In [7]:
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
cursor.execute(Create_booking_table)

In [8]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
cursor.execute(create_orders_table)

In [10]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(100),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""
cursor.execute(create_employees_table)

Inserting Data

In [11]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""
cursor.execute(insert_menuitems)
print("Successfully Inserted")
connection.commit()

Successfully Inserted

In [12]:

insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""
cursor.execute(insert_menu)
print("Total inserted rows",cursor.rowcount)
connection.commit()

Total inserted rows 12

In [13]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""
cursor.execute(insert_bookings)
print("Total Inserted Rows",cursor.rowcount)
connection.commit()

Total Inserted Rows 6

In [28]:
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

cursor.execute(insert_employees)
print("Total row inserted",cursor.rowcount)
connection.commit()

Total row inserted 6

Task 1
Step one: Import MySQLConnectionPool

Step two: Import Error

Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors.

In [20]:
from mysql.connector.pooling import MySQLConnectionPool

dbconfig = {
    "database": "litte_lemon_store",
    "user": "root",
    "password": "Newvision@143"
}
try:
    
    pool_a = MySQLConnectionPool(pool_name="a",
                                 pool_size=2,
                                 **dbconfig)

   
    connection = pool_a.get_connection()
    cursor = connection.cursor()

except conn.Error as e:
    print("Error:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed.")

Connection closed.

Task Two:Implement Procedure

In [25]:
stored_proecedure =  """ CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS peak_hour, COUNT(*) AS bookings_count
    FROM bookings
    GROUP BY HOUR(BookingSlot)
    ORDER BY bookings_count DESC;
END

"""
Query_exution = cursor.execute(stored_proecedure)

##call procedure
cursor.callproc("PeakHours")
results = next(cursor.stored_results())
data = results.fetchall()
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)
for data in data:
    print(data)

['peak_hour', 'bookings_count']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [29]:
stored_procedure = """ 
Create procedure GuestStatus()
Begin

Select     
	Concat(b.GuestFirstName ,' ',b.GuestLastName) as full_name  , e.Role ,
    CASE 
    When e.ROLE  in ('Manager' ' Assistant Manager') THEN 'Ready to pay'
    WHEN e.ROLE in('Head Chef') THEN 'Ready to serve'
    WHEN e.ROLE IN ('Assistant Chef') THEN 'Preparing Order'
    WHEN e.ROLE IN (' Head Waiter') THEN ' Order served'
    Else 'Still'
    ENd as order_status
from employees e 
Left join Bookings b on 
e.EmployeeID = b.EmployeeID;

END
"""
cursor.execute(stored_procedure)
##call procedure
cursor.callproc("GuestStatus")
##fetch the result
results = next(cursor.stored_results())
data = results.fetchall()
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)
for data in data:
    print(data)

['full_name', 'Role', 'order_status']
('Joakim Iversen', 'Manager', 'Still')
('Anna Iversen', 'Manager', 'Still')
('Hiroki Yamane', 'Assistant Manager', 'Still')
('Vanessa McCarthy', 'Head Chef', 'Ready to serve')
('Marcos Romero', 'Assistant Chef', 'Preparing Order')
('Diana Pinto', 'Head Waiter', 'Still')
(None, 'Receptionist', 'Still')