In [1]:
import mysql.connector as conn
user_name = 'root'
password = 'Newvision@143'
try:
    connection = conn.connect(username =user_name,password =password)
    print("Successfully Connected")
except conn.Error as e:
    print(e.errno)

Successfully Connected

In [2]:
cursor = connection.cursor()

In [3]:
##show datbase
cursor.execute("show databases")
for d in cursor:
    print(d)

('employees',)
('information_schema',)
('jewelrystore_db',)
('mysql',)
('Ourstore',)
('performance_schema',)
('sales',)
('Shop',)
('sys',)

In [4]:
##use databse 
cursor.execute("use Ourstore")

Scenario: 

There are several occasions where Little Lemon needs to perform routine operations, some of them include, total sales, the total number of guests, the number of items in each cuisine, the full name of the guests, and so on. These are only a few examples and writing queries again and again for such routine tasks is not trivial. You can help Little Lemon to handle such tasks using MySQL functions in their python-based application.

Task One

Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Help little lemon to extract the data in the required format.  

TIP: Target `GuestFistName`, `GuestLastName` and combine them to get `GuestFullName`.

In [5]:
Query = """ select 
	BookingId,
    UPPER(Concat(GuestFirstName ,' ' ,GuestLastName)) as FullName
from Bookings; """
cursor.execute(Query)
cols = cursor.column_names
print(cols)
rows = cursor.fetchall()
for row in rows:
    print(row)

('BookingId', 'FullName')
(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCO\nS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

Task 2:

Little lemon needs to know the following statistics at closing: 

* Number of bookings 
* Total sale 
* Average sale 

Help little lemon to compute the required statistics from the data in the “Orders” table using python. 

**TIP:** Target “BookingID” and “BillAmount” columns in the “Orders” table and use MySQL built-in functions to compute the required statistics. Once, you grab the results, use the following python code to print the required output.  

```Python
print("Today's statistics:") 
for result in results: 
    print("Number of bookings:",result[0]) 
    print("Total sale:",result[1]) 
    print("Averag

In [7]:
Query = """ select 
	count(BookingID),sum(BillAmount),avg(BillAmount)
from orders;"""
cursor.execute(Query)

rows = cursor.fetchall()
for row in rows :
    print("Number of bookings",row[0])
    print("Total Sale",row[1])
    print("Average sale",row[2])

Number of bookings 5
Total Sale 243
Average sale 48.6000

Task 3:

Little lemon needs to know the number of bookings for each table. Please help them to print the table number and the number of bookings for each table. 

TIP: Target TableNo column in the booking table, count the number of bookings for each table, and group the data. Print the results in descending order.

In [10]:
Query ="""select 
	TableNo,count(BookingID) as n_booking
from Bookings 
group by 1; """
cursor.execute(Query)
cols = cursor.column_names
print(cols)
rows = cursor.fetchall()
for row in rows:
    print(row)

('TableNo', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(8, 1)

Task Three

Little lemon wants to create three arrival slots for the guests based on the booking hour:

Late afternoon: for hours 15 and 16 

Evening: for hours 17 and 18

Night: for hours 19 and 20

Help little lemon to create the above slots and display the booking ID, guest name, and arrival slot on the kitchen screen so that the staff can plan accordingly.

In [11]:
Query =""" Select 
	BookingId,Concat(GuestFirstName,' ', GuestLastName) as full_name,
    CASE 
		WHEN HOUR(BookingSlot) in (15,16) THEN "Late Afternoon"
        WHEN HOUR(BookingSlot) in(17,18) THEN "Evening"
        WHEN Hour(BookingSlot) in (19,20) THEN "Night"
	ELSE "Time Not Available"
    END as ArrivalSlot
from Bookings;"""
cursor.execute(Query)
cols = cursor.column_names
print(cols)
rows = cursor.fetchall()
for row in rows:
    print(row)

('BookingId', 'full_name', 'ArrivalSlot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late Afternoon')
(4, 'Marco\ns Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

Task Four
Little Lemon wants to retrieve the number of bookings in each hour so that they can schedule their staff’s duties accordingly. Use the following steps as a guide to complete this task: 

Step 1: Target the BookingID and BookingSlot columns from the Bookings table. 

Step 2: Extract the hour from the BookingSlot column and count the bookings in each hour.

Step 3: Group and order the data by hour.

In [12]:
Query = """ select Count(BookingID),Hour(BookingSlot)
from bookings
group by 2; """
cursor.execute(Query)
results = cursor.fetchall()

for row in results:
    print(f"Hour : {row[1]},<<>> {row[0]} Bookings")

Hour : 19,<<>> 2 Bookings
Hour : 15,<<>> 1 Bookings
Hour : 17,<<>> 1 Bookings
Hour : 18,<<>> 1 Bookings
Hour : 20,<<>> 1 Bookings

Task 5:

Little Lemon needs to display the following information for their staff:

Each guest’s table number,

Each guest’s full name,

And the expected arrival time in hours and minutes of each guest (e.g., 15 hours and 0 mins).

In [18]:
import datetime as dtt

In [26]:
Query = """ select TableNo, GuestFirstName, GuestLastName ,BookingSlot
from Bookings; """
cursor.execute(Query)
rows = cursor.fetchall()

for row in rows: 
    time = str(row[3])
    hour = dtt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dtt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",row[0],">>",row[1],row[2], "is expected to arrive at:", 
          hour,"hrs and", minute, "mins")

[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marco
s Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

Task 6

A guest with booking ID 2 and table number 12 wants to change the arrival time by one hour. Help Little Lemon to make this change using Python in their application. Use the following steps as a guide to complete this task: 

* Target `BookingID`, `TableNo` and `BookingSlot` columns in the `Bookings` table.  
* Add one hour in the “BookingSlot”.  
* Use the `WHERE` clause on `TableNo` and `BookingID` columns.

In [28]:
update_Query = """
UPDATE Bookings 
SET BookingSlot=ADDTIME(BookingSlot,"1:00:00") 
WHERE BookingID=2;
"""
cursor.execute(update_Query)
connection.commit()

In [30]:
retrieve_query ="""
SELECT 
BookingID, 
TableNo, 
BookingSlot, 
ADDTIME(BookingSlot,"1:00:00") as NewTime 
FROM Bookings
WHERE TableNo = 12 AND BookingID = 2; """
cursor.execute(retrieve_query)
rows = cursor.fetchall()

for row in rows:
    print("Booking time change ALERT!!")
    print(f"Booking ID : {row[0]}")
    print(f"Table No {row[1]}")
    print(f"Booked Slot {row[2]}")
    print(f"New Arrival Time {row[3]}")

Booking time change ALERT!!
Booking ID : 2
Table No 12
Booked Slot 21:00:00
New Arrival Time 22:00:00