In [1]:
import mysql.connector as conn
username = 'root'
password ='Newvision@143'
database ='a'
try :
    
    connection = conn.connect(username=username,password= password)
    print("Connecteed Succesfully")
except conn.Error as e :
    if e.errno == 1045:
        print(f"Access Denied {username}")
    elif e.errno == 1049:
        print(f"Unknown database {database}")
    else:
        print(e.errno)

Connecteed Succesfully

In [2]:
cursor = connection.cursor()

In [3]:
##show databases
cursor.execute("show databases")
for datbase in cursor:
    print(datbase)

('employees',)
('information_schema',)
('jewelrystore_db',)
('mysql',)
('Ourstore',)
('performance_schema',)
('sales',)
('Shop',)
('sys',)

In [5]:
##use database
cursor.execute("use Ourstore" )

Task 1:

Little Lemon needs the following information for each of the items on their menu:

The name of each item in the menu,

Each menu item’s type,

Each menu item’s cuisine,

and the price of each item in the menu.

In [7]:
Query ="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID; """
cursor.execute(Query)
rows = cursor.fetchall()
col = cursor.column_names
print(col)
for row in rows:
    print(row)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Olives', 'Starters', 'Greek', 5)
('Greek salad', 'Main Courses', 'Greek', 15)
('Greek yoghurt', 'Desserts', 'Greek', 7)
('Athens White wine', 'Drinks', 'Greek', 25)
('Minestrone', 'Starters', 'Italian', 8)
('Pizza', 'Main Courses', 'Italian', 15)
('Cheesecake', 'Desserts', 'Italian', 4)
('Turkish Coffee', 'Drinks', 'Italian', 10)
('Falafel', 'Starters', 'Turkish', 7)
('Ice cream', 'Desserts', 'Turkish', 6)
('Turkish Coffee', 'Drinks', 'Turkish', 10)
('Kabasa', 'Main Courses', 'Turkish', 17)

Task 2

Little Lemon notice that there are several menu items missing from the output of the previous task. 

Help Little Lemon to identify these missing items by using a `JOIN` operation in Python to return data for the missing records.

In [8]:
Query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;"""
cursor.execute(Query)
rows = cursor.fetchall()
cols = cursor.column_names
print(cols)
for row in rows:
    print(row)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Flatbread', 'Starters', None, 5)
('Tomato bread', 'Starters', None, 8)
('Hummus', 'Starters', None, 5)
('Bean soup', 'Main Courses', None, 12)
('Corfu Red Wine', 'Drinks', None, 30)

Task 3:

Little Lemon restaurant need you to help them retrieve the following information from the `Bookings` and the `Orders` tables in their MySQL database using Python: 

* Booking ID 
* Table number 
* Guest first name 
* Server ID 
* Bill amount

In [9]:
Query="""SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Bookings.EmployeeID AS ServerID,
Orders.BillAmount
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID;
"""
cursor.execute(Query)
results = cursor.fetchall()
cols  =cursor.column_names
print(cols)
for row in results:
    print(row)

('BookingID', 'TableNo', 'GuestFirstName', 'ServerID', 'BillAmount')
(1, 12, 'Anna', 1, 86)
(2, 12, 'Joakim', 1, 37)
(3, 19, 'Vanessa', 3, 37)
(4, 15, 'Marco\ns', 4, 40)
(5, 5, 'Hiroki', 2, 43)
(6, 8, 'Diana', 5, None)